body
{
    background-size: cover;
}

#status, #number_of_objects, #start
{
    font-size: 15px;
}

canvas
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 5px, 5px, 5px, white;
}